= simple_form_for [@proposal || @trip, Comment.new] do |f|
  = hidden_field_tag :owner, owner
  = f.input :text, as: :text, label: false, :input_html => { class: "hipster_description" }, placeholder: "Describe your attidue towards oncoming trip. Maybe sprinkle it a bit with some witty hipster remarks."
  = f.button :submit, class: "btn btn-large btn-primary"
