h1 View Proposal

= gravatar_image_tag(current_user)

ul
  = render @proposal.comments

h5 Leave a comment
= render "comments/form", owner: "Proposal"

- if @proposal.state.nil? && @trip.owner == current_user
  span= link_to "Accept", [@proposal, :accept], method: :post, class: "btn btn-success"

- if @proposal.state != 2 && @proposal.belongs_to_user?(current_user)
  span= link_to "Cancel", [@proposal, :cancel], method: :post, class: "btn btn-danger"

= link_to "Back to trip", @trip, class: "btn btn-primary"